<h2> Lista de Usuários Administradores: </h2>
<hr>

{{#each admins}}

<div class="card mt-4">
  <div class="card-body">
    <h4>{{nome}}</h4>
    <br>

    <a href="#"><button class="btn btn-success mt-2"> Editar</button></a>
    <a href="/admin/deletar/{{_id}}"><button type="submit" class="btn btn-danger mt-2"> Deletar </button></a>

  </div>
</div>

{{else}}
<h4 class="mt-4"> Nenhum usuário cadastrado.</h4>
{{/each}}