<h2> Chamadas Pendentes! </h2>
<hr>

{{#each chamadas}}

<div class="card mt-4">
  <div class="card-body">
    <h4>{{titulo}}</h4><br>
    <small> Status: {{status}} </small> <br>
    <small>Data de criação: {{data}}</small> <br>
  </div>
</div>

{{else}}

<h4 class="mt-4"> Nenhuma chamada para exibir.</h4>

{{/each}}