<div class="jumbotron">
  <h1 class="display-4"> Bem-vindo ao Help-u!</h1>
  <p class="lead"> O Help-u é um sistema de chamados que vai ajudar você a se comunicar quando estiver com qualquer
    enventual probleminha no seu trabalho.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button"> Cadastre-se </a>
</div>